<nav class="navbar navbar-default navbar-inverse" class="container-fluid">
    <div class="container-fluid">
        <div class="navbar-header">
            <a class="navbar-brand" ng-link="['List']">At The Movies</a>
        </div>
        <!-- ul.nav.navbar-nav.navbar-left>li*2 -->
        <ul class="nav navbar-nav navbar-left">
            <li>
                <!-- link to route name of 'List' -->
                <a ng-link="['List']">List</a>
            </li>
            <li>
                <a ng-link="['About']">About</a>
            </li>
        </ul>
    </div>
</nav>

<div class="container">

    <!-- ng-outlet so movie-app.component.js knows where to place movieList and appAbout components -->
    <ng-outlet></ng-outlet>

</div>